<div class="container">
  <div class="row" *ngIf="mostrarNoticia; else noticiaUnica">
    <div class="col-md-6" *ngFor="let noticia of noticia">
      <div class="jumbotron">
          <h1 class="display-4">{{ titulo }}</h1>
          <img class="tamanho" [src]="caminho_imagem">
          <hr class="my-4">
          <p>{{ texto }}</p>
          <p class="lead">
          <button (click)="esconderNoticia()" type="button" class="btn btn-sm btn-danger">Confira!</button>
          </p>
      </div>
    </div>
  </div>
</div>
 <ng-template #noticiaUnica>
  <div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="display-4">{{ titulo }}</h1>
            <img class="tamanho" [src]="caminho_imagem">
            <hr class="my-4">
            <p>{{ texto }}</p>
            <p class="lead">
            <button (click)="mostrarNoticias()" type="button" class="btn btn-sm btn-danger">Voltar</button>
            </p>
          </div>
    </div>
 </div>
 <div class="row">
    <app-primeiroexemplo></app-primeiroexemplo> 
   <app-segundoexemplo></app-segundoexemplo>
   <app-terceiroexemplo></app-terceiroexemplo>
 </div>
</ng-template> 